.header {
  display: flex;
  align-items: center;
  height: 3.3rem;
  margin: 4rem auto 0rem;
}

.header img {
  height: 90%;
}

.header nav {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.header nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  height: 100%;
}

.header nav ul li {
  margin-left: 3rem;
}

.header nav ul li .button_nav {
  font-size: 1.4rem;
  font-weight: 700;
  display: block;
  color: var(--Grayish-Violet);
  transition: margin 0.1s ease-in-out;
}

.header nav ul li .button_nav:hover {
  color: black;
  margin-bottom: 0.5rem;
}

.header nav ul li .sign-button {
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  background-color: var(--Cyan);
  padding: 0.8rem 2rem;
  border-radius: 2rem;
}

.header nav ul li .sign-button:hover {
  background-color: hsl(180, 53%, 64%);
}
